body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,th,td,input{color:#d4d4d4;font-family:"돋움",dotum,sans-serif;font-size:12px;font-weight:normal}
body{background:#333; direction:ltr;text-align:center}
img,fieldset{border:0}
ul,ol,li{list-style:none}
img,input,select,textarea{vertical-align:middle}
a{color:#262626;text-decoration:none}
a:hover{color:#4559E9;text-decoration:underline}
a.ir:hover{text-decoration:none}
em{font-style:normal;font-weight:normal}

hr { width:100%; border:none; margin:0; padding:0; height:0; border-top:2px solid #222; border-bottom:1px solid #555;}

#wrap {position:relative;width:1280px;margin:0 auto;text-align:left;background: url(../images/back02.jpg); overflow:hidden;}
#bg {display:block; width:1280px; height:963px; position:absolute; top:0; left:0; background: url(../images/back01.jpg) no-repeat;}

#wrap h1 {position:relative; z-index:1; width:307px;height:307px; background:url(../images/logo.png);}
#wrap h1 a {display:block; width:200px; height:170px; text-indent:-10000px;}
#nav {position:absolute; right:29px; top:13px;}
#nav li {float:left; background: url(../images/nav.png) no-repeat;}
#nav li a {color:white; display:block;  height:29px; text-indent:-10000px;}

#nav li.intro {margin-right:58px;background-position:0 -43px;}
#nav li.intro.on, #nav li.intro:hover {background-position:0 0;}
#nav li.intro a {width:64px;}

#nav li.exhibition {margin-right:58px;background-position:-122px -43px;}
#nav li.exhibition.on, #nav li.exhibition:hover {background-position:-122px 0;}
#nav li.exhibition a {width:37px;}

#nav li.workshop {margin-right:59px;background-position:-217px -43px;}
#nav li.workshop.on, #nav li.workshop:hover {background-position:-217px 0;}
#nav li.workshop a {width:37px;}

#nav li.login {margin-right:-1px;background-position:-313px -43px;}
#nav li.login.on, #nav li.login:hover {background-position:-313px 0; position:relative;}
#nav li.login a {width:55px;}

#nav li.join {margin-right:18px; background-position:-367px -43px;}
#nav li.join.on, #nav li.join:hover {background-position:-367px 0; position:relative;}
#nav li.join a {width:65px;}

#nav li.logout {margin-right:-1px;background-position:-570px -43px;}
#nav li.logout.on, #nav li.logout:hover {background-position:-570px 0; position:relative;}
#nav li.logout a {width:55px;}

#nav li.my {margin-right:18px; background-position:-624px -43px;}
#nav li.my.on, #nav li.my:hover {background-position:-624px 0; position:relative;}
#nav li.my a {width:65px;}

#nav li.about {background-position:-450px -43px;}
#nav li.about.on, #nav li.about:hover {background-position:-450px 0;}
#nav li.about a {width:105px;}

#header hr { position:absolute; top:49px;}

#footer {width:1280px; height:97px; clear:both; background: url(../images/bg_footer.png) no-repeat; position:relative; }
#footer p {padding-top:32px; float:left; position:relative;}
#footer span, #footer a, #footer .links:after {background: url(../images/icons_footer.png) no-repeat; display:block; height:38px; text-indent:-10000px; float:left;}
#footer .host {padding-left:165px;}
#footer .host span { width:76px;}
#footer .host a {width:153px; margin-left:30px;background-position:-106px 0;}

#footer .sponsor span {margin-left:50px;width:28px;background-position:-309px 0;}
#footer .sponsor a.s1 {margin-left:29px;width:56px;background-position:-366px 0;}
#footer .sponsor a.s2 {margin-left:30px;width:154px;background-position:-452px 0;}
#footer .sponsor a.s3 {margin-left:28px;width:118px;background-position:-634px 0;}

#footer .links:after {content:''; display:block; position:absolute; left:99px; top:32px; width:2px; height:38px;background-position:-851px 0;}
#footer .links a.agreement {margin-left:50px;width:44px;background-position:-802px 0;}
#footer .links a.privacy {margin-left:12px;width:90px;background-position:-858px 0;}

#content {margin-top:-255px;}

.category li {height:30px; margin-right:15px; float:left;background: url(../images/category.png) no-repeat;}
.category li a {color:white; display:block;  height:30px; text-indent:-10000px;}

.category li.c1 {background-position:0 0;}
.category li.c1:hover {background-position:0 -30px;}
.category li.c1.on, .category li.c1:active {background-position:0 -60px;}
.category li.c1 a {width:16px;}

.category li.c2 {background-position:-31px 0;}
.category li.c2:hover {background-position:-31px -30px;}
.category li.c2.on, .category li.c2:active {background-position:-31px -60px;}
.category li.c2 a {width:54px;}

.category li.c3 {background-position:-100px 0;}
.category li.c3:hover {background-position:-100px -30px;}
.category li.c3.on, .category li.c3:active {background-position:-100px -60px;}
.category li.c3 a {width:21px;}

.category li.c4 {background-position:-136px 0;}
.category li.c4:hover {background-position:-136px -30px;}
.category li.c4.on, .category li.c4:active {background-position:-136px -60px;}
.category li.c4 a {width:53px;}

.category li.c5 {background-position:-204px 0;}
.category li.c5:hover {background-position:-204px -30px;}
.category li.c5.on, .category li.c5:active {background-position:-204px -60px;}
.category li.c5 a {width:51px;}

.category li.c6 {background-position:-270px 0;}
.category li.c6:hover {background-position:-270px -30px;}
.category li.c6.on, .category li.c6:active {background-position:-270px -60px;}
.category li.c6 a {width:55px;}

.category li.c7 {margin-right:14px;background-position:-340px 0;}
.category li.c7:hover {background-position:-340px -30px;}
.category li.c7.on, .category li.c7:active {background-position:-340px -60px;}
.category li.c7 a {width:22px;}

.category li.c8 {margin-right:14px;background-position:-376px 0;}
.category li.c8:hover {background-position:-376px -30px;}
.category li.c8.on, .category li.c8:active {background-position:-376px -60px;}
.category li.c8 a {width:22px;}

.category li.c9 {margin-right:14px;background-position:-412px 0;}
.category li.c9:hover {background-position:-412px -30px;}
.category li.c9.on, .category li.c9:active {background-position:-412px -60px;}
.category li.c9 a {width:22px;}

.category li.c10 {background-position:-448px 0;}
.category li.c10:hover {background-position:-448px -30px;}
.category li.c10.on, .category li.c10:active {background-position:-448px -60px;}
.category li.c10 a {width:45px;}

.no-result {display:none;clear:both; text-align:center;font-size:14px; padding:95px;}
.photo-list {clear:both; display:block; position:relative;}
.photo-list ul {overflow:hidden; min-height:1000px; }
.photo-list hr {margin:40px 0;}
.photo-list a.more {margin:30px auto 0;}

.photo-list li {
	float:left; margin:0 0 15px 15px; position:absolute; opacity: .0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; overflow:hidden;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    4px 4px 3px rgba(0, 0, 0, 0.6);
	box-shadow:         4px 4px 3px rgba(0, 0, 0, 0.6);
}
.photo-list li img {
	position:relative;
}
a.more {display:block; clear:both; width:267px; height:55px; background: url(../images/btn_more.png) no-repeat; text-indent:-10000px;}

#popupContainer {display:none; position:fixed; z-index:1000; top:0; left:0; width:100%; height:100%;}
#popupBg {display:block; position:absolute; z-index:-1; top:0; left:0; width:100%; height:100%; background-color:black; opacity: .5; filter: alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
#popupContainer .popup {position:absolute;}

.btn-delete {display:inline-block; border:none; width:77px; height:27px; background: url(../images/btn_delete2.png) no-repeat; text-indent: -10000px; cursor:pointer; text-align:left;}
.btn-cancel {display:inline-block; border:none; width:77px; height:27px; background: url(../images/btn_cancel.png) no-repeat; text-indent: -10000px; cursor:pointer; text-align:left; }
.btn-ok {display:inline-block; border:none; width:77px; height:27px; background: url(../images/btn_ok.png) no-repeat; text-indent: -10000px; cursor:pointer; text-align:left;}
.btn-close {display:inline-block; border:none; width:33px; height:33px; background: url(../images/btn_close.png) no-repeat; text-indent: -10000px; cursor:pointer; text-align:left;}
