.category {position:relative; z-index:1; float:right; background-color:black; height:26px; margin:20px 0 20px; padding:0 20px 0 10px;}
.category li {margin:-11px 10px 0 0;}

.content {position:relative; width:800px; margin:0 auto; padding:114px 0 40px; text-align:right;}
.content h2 {width:800px; height:74px; background: url(../images/bg_detail_title.png) no-repeat; overflow:hidden;}
.content h2 strong {font-size:19px; font-weight:normal;display:block; float:left; padding:30px 0 0 30px;}
.content h2 .license {font-size:12px; display:block; float:left; padding:36px 0 0 6px;}
.content h2 .author {font-size:12px; display:block; float:left; padding:36px 0 0 4px;}
.content .photo {position:relative;}
.content .photo img {
	max-width:800px;
	-webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    7px 7px 10px rgba(0, 0, 0, 0.75);
	box-shadow:         7px 7px 10px rgba(0, 0, 0, 0.75);
}
.content .photo .prev, .content .photo .next {position:absolute;top:50%;margin-top:-13px;width:17px; height:27px; text-indent:-10000px; cursor:pointer; text-align:left;}
.content .photo .prev {left:-26px; background: url(../images/btn_prev.png) no-repeat; }
.content .photo .next {right:-26px; background: url(../images/btn_next.png) no-repeat;}
.content .photo .prev.dimmed, .content .photo .next.dimmed {background-position: 0 -30px;cursor:default;}
.content .actions {float:right; margin-top:11px;}
.content .actions li {float: left; position:relative;}
.content .actions li a {display:block; width:73px; height:25px; background: url(../images/btn_actions.png) no-repeat; text-indent:-10000px; text-align:left;}
.content .actions li .btn-download {width:72px;}
.content .actions li .btn-info {background-position:-72px 0;}
.content .actions li .btn-recommend {background-position:-145px 0;}
.content .actions li .btn-share {background-position:-218px 0; }
.content .actions li .btn-download:hover {background-position:0 -25px;}
.content .actions li .btn-info:hover {background-position:-72px -25px;}
.content .actions li .btn-recommend:hover, .content .actions li .btn-recommend.on {background-position:-145px -25px;}
.content .actions li .btn-share:hover {background-position:-218px -25px; }
.content .photo-info {display:none; position:absolute; bottom:33px; left:-98px; background: url(../images/bg_photo_info.png) no-repeat; width:274px; height:235px;}
.content .photo-info table {margin:55px 0 0 23px;}
.content .photo-info caption {display:none;}
.content .photo-info th {font-size:11px; width:83px; color:#555; text-align:left;}
.content .photo-info td {font-size:11px; color:#fff; text-align:left;}
.content .photo-info .btn-close {background-image:url(../images/btn_close2.png); position:absolute; top:9px; right:10px;}
.content .msg-recommended {display:none; position:absolute; bottom:34px; left:-24px; width:124px; height:65px; background: url(../images/msg_recommended.png) no-repeat; text-indent:-10000px; }

.content .counts {clear:both; position:relative; top:-2px; left:-2px;}
.content .counts li {float:left; background: url(../images/bg_detail_counts.png) no-repeat; height:12px; font-size:11px; color:#999;}
.content .counts li.hit {padding:0 10px 0 28px;}
.content .counts li.recommended {padding-left:32px;background-position:0 -27px;}

.content .info {text-align:left; clear:both; padding-top:8px;}
.content .desc {
	position:relative;
	width:800px; height:200px; background: url(../images/bg_detail_desc.png) no-repeat;
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 3px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.content .owner {padding:21px 0 0 88px;}
.content .owner img {display:block; width:63px; height:63px;border:1px solid #777; float:left;}
.content .owner .photographer {display:block; float:left; font-size:9px; padding:56px 0 0 20px; color:white;}
.content .owner .name {display:block; float:left; font-size:20px; padding:47px 0 0 7px; color:white;}
.content .owner .go-gallery {display:block; float:left; font-size:11px; padding:51px 0 0 8px; color:#fffd38; font-style:italic; text-decoration: underline;}
.content .info dl {clear:both;padding:11px 0 0 86px; font-size:13px; line-height:18px;}
.content .info dl dt {float:left; width:84px; clear:both; color:black;}
.content .info dl dd {float:left; width:570px; }
.content .info dl dd.cate {color:#fffd38; font-style:italic; }
.content .info dl .date {color:#444; font-size:12px; display:inline-block; padding-left:10px;}
.content .comment {
	background-color: #777; margin-bottom:10px; padding:10px;
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 3px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.content .btn-top {display:inline-block; width:60px; height:22px; background: url(../images/btn_top.png) no-repeat; text-indent:-10000px; text-align:left;}
.content .btn-list {display:inline-block; width:60px; height:22px; background: url(../images/btn_list.png) no-repeat; text-indent:-10000px; margin-right:5px; text-align:left;}