	#content.exhibition { padding-top:110px; position:relative; width:100%; }
	#exhibitionArea { width: 800px; margin:0 auto; margin-bottom:40px; }
	#exhibitionArea h2 {height:46px; width:100%; border-bottom:2px solid #009bb0; text-align:left; }
	#exhibitionArea dd { border:10px solid #201f1f; text-align:center; padding:37px 0 40px 0; }
	#exhibitionArea .sub-area2 { padding-top:48px; color:#bbb; line-height:18px; font-size:12px; font-weight:bold; }
	#exhibitionArea .sub-area3 { padding-top:20px; text-align:center;}
	#exhibitionArea .sub-area3 table { width:545px; margin:0 auto; }
	#exhibitionArea .sub-area3 table caption { display:none; }
	#exhibitionArea .sub-area3 table th{ width:220px; text-align:right; font-size:11px; font-weight:bold; line-height:16px; color:#009bb0; vertical-align:top;}
	#exhibitionArea .sub-area3 table th span { width:57px; display:inline-block; color:#777; }
	#exhibitionArea .sub-area3 table td{ padding-left:10px; font-size:11px; text-align:left; font-weight:bold; line-height:16px; color:#ddd; }
	#exhibitionArea .sub-area3 table td a { color:#cccc00; text-decoration:underline; font-style:italic; }
	#exhibitionArea .sub-area4 { padding-top:50px; }
	#exhibitionArea .sub-area4 img{ border:3px solid #009bb0; width:540px; height:260px;}
	#exhibitionArea .sub-area5 { padding-top:40px; }
	#exhibitionArea .sub-area6 { padding-top:30px; }
	#exhibitionArea .sub-area6 table { width:710px; margin:0 auto; }
	#exhibitionArea .sub-area6 table caption { display:none; }
	#exhibitionArea .sub-area6 table th{ text-align:right; font-size:11px; font-weight:bold; color:#009bb0; vertical-align:top;}
	#exhibitionArea .sub-area6 table td{ font-size:11px; height:13px; text-align:right; color:#ddd; }
