#content.intro { padding-top:110px; position:relative; width:100%; }
#introArea { width: 800px; margin:0 auto; margin-bottom:40px; }
#introArea h2 {height:46px; width:100%; border-bottom:2px solid #009bb0; text-align:left; }
#introArea dd { border:10px solid #201f1f; text-align:center; padding:37px 0 40px 0; }
#introArea div.desc { color:#bbb; line-height:18px; font-size:12px; font-weight:bold; padding-top:14px; }
#introArea div.btn-area { padding-top:14px; }
#introArea div.area dd { border:0; padding:0; }
#introArea div.area table { width:580px; margin:0 auto; }
#introArea div.area table caption { display:none; }
#introArea div.area table th{ width:220px; text-align:right; font-size:11px; font-weight:bold; line-height:16px; color:#009bb0; vertical-align:top; }
#introArea div.area table th span { width:57px; display:inline-block; color:#777; }
#introArea div.area table td{ padding-left:10px; text-align:left; font-size:11px; font-weight:bold; line-height:16px; color:#bbb; }
#introArea div.area table td a { color:#cccc00; text-decoration:underline; font-style:italic; }
#introArea .sub-area2 { padding:48px 0 60px; }
#introArea .sub-area2 span { color:#fffefe; }
#introArea .sub-area3 { padding-bottom:69px; }
#introArea .sub-area3 table { padding-top:19px; }
#introArea .sub-area4 { padding-bottom:77px; }
#introArea .sub-area4 div.giveaway { padding-top:20px; }
#introArea .sub-area4 table { padding-top:28px; }
#introArea .sub-area4 table td strong { color:#009bb0; }
#introArea .sub-area5 { position:relative; top:-5px;  }
#introArea .sub-area5 table { padding-top:19px; }

#introArea hr {border:none; border-top:1px solid #1f1f1f;}