#content.main {position:relative;padding-top:265px;}
#content.main .top {position:absolute;width:100%; top:5px;left:0; }
#content.main .top img {position:absolute; top:49px; right:31px;}
#content.main .category {float:left; width:572px;padding:19px 0 0 30px;}
.btn-upload {display:block; width:172px; height:52px; background: url(../images/btn_upload.png) no-repeat; text-indent:-10000px;}
#content.main .btn-upload {float:left;}
#content.main form {float:right; padding:18px 30px 0 0;}
#content.main fieldset {float:left;}
#content.main legend {display:none;}

#content.main .search {width:208px;height:30px;background:url(../images/bg_search.png) right 0 no-repeat; }
#content.main .search input {margin:0;padding:0;display:block;float:left; background:#e0e0e0; }
#content.main .search .keyword {width:158px;height:24px;line-height:24px; border:none; color:#000; padding:5px 8px 0; font-size:14px;}
#content.main .search .btn-search {width:33px;height:30px;border:none;text-indent:-10000px; background:transparent; cursor:pointer;}

#content.main .order {padding:5px 10px 0 0}
#content.main .order input {visibility:hidden;position:absolute;}
#content.main .order label {background: url(../images/btn_order.png) no-repeat; text-indent:-10000px; display:block; float:left; height:26px; cursor:pointer;}

#content.main .order label.recently {width:46px; background-position:0 0;}
#content.main .order label.recently.on, #content.main .order label.recently:hover {background-position:0 -26px;}

#content.main .order label.recommend {width:45px; background-position:-46px 0;}
#content.main .order label.recommend.on, #content.main .order label.recommend:hover {background-position:-46px -26px;}

#content.main .order label.hit {width:46px; background-position:-91px 0;}
#content.main .order label.hit.on, #content.main .order label.hit:hover {background-position:-91px -26px;}

#content.main .banner {position:absolute; top:328px; right:30px;}
#content.main .banner a {
	position:relative;z-index:1;background:url(../images/main_banner.png); width:479px; height:179px; display:block; text-indent:-10000px;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    4px 4px 3px rgba(0, 0, 0, 0.6);
	box-shadow:         4px 4px 3px rgba(0, 0, 0, 0.6);
}
#content.main .banner a:hover {background-position:0 -179px;}

.photo-list li .title {display:none; position:absolute; z-index:1; top:0; right:0; left:0; bottom:0; border:5px solid white;background: url(../images/bg_photo_title.png) -8px -39px no-repeat;}
.photo-list li .title em {display:block;color:white; width:130px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; line-height:40px; font-weight:normal; font-size:14px; padding-left:8px;}
.photo-list li .recommend {/*display:none;*/ position:absolute; z-index:1; top:12px; right:15px; width:74px; height:20px;  background: url(../images/btn_recommend.png) no-repeat; text-indent:-10000px;}
.photo-list li .recommend.on {background-position:0 -20px;}
.photo-list li .recommend.hide {display:none !important;}
.photo-list li:hover .title, .photo-list li:hover .recommend {display:block; }
